/*---------------------------------------
			CashbackEngine
	http://www.cashbackengine.net
----------------------------------------*/

body {
	background: #FFFFFF url('../images/bg.png') repeat-x;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	margin: 0 auto;
	padding: 0;
	font-size: 11px;
	color: #000000;
}

#wrapper {
	margin: 0 auto;
	width: 960px;
	padding: 0px 0 0px 0;
	background: #FFFFFF;
}

#header {
	width: 960px;
	height: 85px;
	background: url('../images/cashbackengine_adm.gif') no-repeat right bottom #FFFFFF;
	border-bottom: 6px solid #F7F7F7;
}

#logo {
	float: left;
	padding: 17px 0 0 10px;
}

#right_header {
	width: 220px;
	float: right;
	text-align: center;
	color: #5F5F5F;
	padding: 7px 10px 7px 0;
	margin-right: 3px;
	background: #F7F7F7;
	border-radius: 0 0 5px 5px;
}

#right_header a {
	color: #333333;
	text-decoration: underline;
	margin: 0 2px 0 2px;
}

#right_header a:hover {
	color: #000000;
	text-decoration: none;
}

#right_header a.logout {
	background: url('../images/icons/logout.png') no-repeat left;
	padding-left: 20px;
}

#content-wrapper {
	margin: 0 auto;
	width: 960px;
	height: auto;
	padding: 0 0 50px 0;
}

#sidebar {
	width: 165px;
	float: left;
	padding: 8px 10px 0 0;
}

/* Menu
----------------------------------------------- */	
#sidebar ul {
	padding-left: 15px;
	list-style-type: none;
	width: 155px;
	float: left;
}

#sidebar ul li {
	float: left;
	width: 155px;
	font-size: 11px;
	white-space: nowrap;
}

#sidebar ul li a {
	display: block;
	background: url('../images/arrow_right.gif') 3px 5px no-repeat;
	color: #000;
	padding: 5px 15px;
	border-bottom: 1px solid #F5F5F5;
}

#sidebar ul li a:hover {
	color: #FFFFFF;
	background: #A2D1F9 url('../images/arrow_right_white.gif') 3px 5px no-repeat;
}

#sidebar ul li a.last {
	border-bottom: 1px solid #FFFFFF;;
}

#content {
	width: 765px;
	float: left;
	padding: 20px 10px 30px 10px;
	min-height: 500px;
	position: relative;
}

#footer {
	clear: both;
	width: 960px;
	height: 25px;
	background: #727475;
	padding: 10px 0 0 10px;
	border-top: 1px solid #000000;
	font-size: 10px;
	color: #B7B7B7;
	text-align: center;
}

#footer a {
	color: #B7B7B7;
	text-decoration: none;
}


/* Tables
----------------------------------------------- */
th {
	background: #EFF6F7;
	height: 23px;
	text-align: center;
	vertical-align: middle;
	color: #000000;
	font-weight: bold;
	border-right: 1px solid #FFFFFF;
	white-space: nowrap;
}

th.noborder {
	border: 0;
}

.tb1 {
	color: #000;
	font-weight: normal;
	font-size: 11px;
	white-space: nowrap;
}

.tb2 {
	color: #000000;
	font-weight: normal;
	font-size: 11px;
}

.row_title {
	font-weight: normal;
	font-size: 11px;
}

tr.odd {
	background: #FFFFFF;
}
tr.odd:hover {
	background: #F7F7F7;
}

tr.even {
	background: #F9F9F9;
}
tr.even:hover {
	background: #F7F7F7;
}

.tbl {
	border-bottom: 1px solid #F5F5F5;
}


/* Links
----------------------------------------------- */
a {
	color: #369DDB;
	text-decoration: none;
}

a:hover {
	color: #96E706;
	text-decoration: none;
}

a.goback {
	background: url('../images/back.gif') no-repeat center left;
	padding: 20px;
}

#content #addnew {
	float: right;
	margin: 0;
	padding-bottom: 2px;
}

#content #addnew a {
	color: #777;
	text-decoration: none;
}

#content #addnew a:hover {
	color: #000;
	text-decoration: none;
}

#content a.addnew {
	background: url('../images/icons/add.png') no-repeat left;
	text-align: right;
	padding: 4px 5px 5px 18px;
}

a.search {
	background: url('../images/icons/search.png') no-repeat left;
	text-align: right;
	padding: 4px 5px 5px 20px;
	margin-right: 15px;
}

a:hover.search {
	color: #000;
	text-decoration: none;
}

a.import {
	color: #46ADD9;
	background: url('../images/import.png') no-repeat left;
	text-align: right;
	padding: 4px 5px 5px 20px;
	margin-right: 15px;
	font-size: 11px;
	text-decoration: none;

}

a:hover.import {
	color: #96E706;
	text-decoration: none;
}

a.export {
	color: #81C601;
	background: url('../images/export.png') no-repeat left;
	text-align: right;
	padding: 4px 5px 5px 20px;
	font-size: 11px;
	text-decoration: none;

}

a:hover.export {
	color: #000;
	text-decoration: none;
}

a.sendmessage {
	background: url('../images/icons/send_message.gif') no-repeat center left;
	padding: 35px;
	color: #FBBC00;
	text-decoration: none;
}

a.sendmessage:hover {
	color: #000;
}

a.blockit {
	background: url('../images/icons/block_user.gif') no-repeat center left;
	padding: 30px 15px 30px 35px;
	color: #FB3232;
	text-decoration: none;
}

a.blockit:hover {
	color: #000;
}

a.unblockit {
	background: url('../images/icons/unblock_user.gif') no-repeat center left;
	padding: 30px 15px 30px 35px;
	color: #CD952A;
	text-decoration: none;
}

a.unblockit:hover {
	color: #000;
}

a.emailit {
	background: url('../images/icons/email_user.png') no-repeat center left;
	padding: 30px 10px 30px 35px;
	color: #777777;
	text-decoration: none;
}

a.emailit:hover {
	color: #000;
}

a.moneyit {
	background: url('../images/icons/money_user.png') no-repeat center left;
	padding: 30px 0 30px 35px;
	color: #777777;
	text-decoration: none;
}

a.moneyit:hover {
	color: #000;
}


/* TEXT
----------------------------------------------- */
p {
	margin: 0;
	padding: 5px 0 5px 0;
}

h1 {
	font-size: 19px;
	color: #000000;
	padding: 0px 0px 0px 6px;
	margin-top: 14;
}

h2 {
	font-size: 18px;
	color: #1E1E1E;
	font-weight: normal;
	border-bottom: 2px solid #D1E8FC;
	padding: 0px 0px 0px 2px;
	margin-top: 0;
	margin-bottom: 5px;
}

.req {
	color: red;
}

.note {
	color: #9B9B9B;
	font-size: 11px;
	font-weight: normal;
	background: url('../images/note.png') no-repeat center left;
	padding: 2px 0 2px 20px;
	margin-left: 5px;
}

.sline {
	background: #EEEEEE url('../images/px.gif') no-repeat center bottom;
	margin: 2px auto;
	height: 1px;
}

.help {
	color: #777777;
	font-size: 10px;
	font-weight: normal;
}

.new_count {
	background: #F9A05C;
	color: #FFFFFF;
	font-weight: normal;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 1px 4px;
	margin-left: 3px;
	border-radius: 3px;
}

.active_s {
	color: #26CD34;
	background: url('../images/active.png') no-repeat center left;
	padding: 5px 0 5px 18px;
}

.inactive_s
{
	color: #B5B5B5;
	background: url('../images/inactive.png') no-repeat center left;
	padding: 5px 0 5px 18px;
}

.stat {
	color: #4F4E4E;
	font-weight: normal;
	font-size: 18px;
}

.stat_s {
	color: #333333;
	font-size: 11px;
	background: #F7F7F7;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-seri;
}

.stats_total {
	color: #777777;
	font-size: 30px;
	font-weight: bold;
	font-family: Arial, Verdana, Tahoma, Helvetica, sans-seri;
}

.featured {
	color: #BB6CAA;
	background: url('../images/icons/featured.png') no-repeat right;
	padding: 5px 15px 5px 2px;
}

.deal_of_week {
	color: #0099D9;
	background: url('../images/icons/deal_of_week.png') no-repeat right;
	padding: 6px 15px 2px 2px;
}

.old_cashback {
	color: #BBBBBB;
	text-decoration: line-through;
}

.cashback {
	color: #F8A51B;
	font-weight: bold;
}


/* Forms
----------------------------------------------- */
form {
	display: inline;
	margin: 0;
}

input.textbox, textarea.textbox2 { 
	background-color: #FFFFFF;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 0;
	padding: 4px 2px;
	border: 1px solid #E0E0E0;
}

select.textbox2, .textbox2, select {
	background-color: #FFFFFF;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 0;
	padding: 3px 2px;
	border: 1px solid #E0E0E0;
}

input:focus,
button:focus,
a.button:focus,
select:focus,
textarea:focus {
	-webkit-box-shadow: #0066ff 0 0 5px 0;
	-moz-box-shadow: #0066ff 0 0 5px 0;
	box-shadow: #0066ff 0 0 5px 0;
	z-index: 1;
}

input[type="file"]:focus, input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input[type="reset"]:active,
input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:focus,
input[type="submit"]:focus,
input[type="button"]:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.submit {
	margin: 3px 3px 3px 0;
	padding: 5px 10px 5px 10px;
	border: 1px solid #64C3EF;
	background: #64C3EF;
	color: #FFFFFF;
	font-size: 11px;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	overflow: visible;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.submit:hover {
	border: 1px solid #92EA04;
	background: #92EA04;
}

.cancel {
	margin: 3px 0;
	padding: 5px 10px 5px 10px;
	border: 1px solid #C9C9C9;
	background: #C9C9C9;
	color: #FFFFFF;
	font-size: 11px;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	overflow: visible;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.cancel:hover {
	border: 1px solid #777;
	background: #777;
}

.submit:focus, .cancel:focus {
	outline: 0;
}

:focus {
	outline: 0;
}

.checkbox {
	margin: 0 2px;
	padding: 0;
}

textarea {
	overflow: auto;
}

select {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 0;
	font-size: 100%;
	color: #333;
}

.imgs {
	border: 1px solid #EFEFEF;
	margin-right: 3px;
	padding: 3px;
	background: #FFFFFF;
}

a:hover .imgs {
	border-color: #F3F3F3;
}


/* Statuses
----------------------------------------------- */
.confirmed_status, .pending_status, .declined_status, .failed_status, .request_status, .paid_status, .expired_status, .payment_status {
	float: left;
	margin-left: 5px;
	padding: 5px 5px 5px 20px;
}

.confirmed_status {
	color: #A6D220;
	background: url('../images/icons/status-confirmed.png') no-repeat center left;
}

.pending_status {
	color: #F7B400;
	background: url('../images/icons/status-pending.png') no-repeat center left;
}

.declined_status {
	color: #E27677;
	background: url('../images/icons/status-declined.png') no-repeat center left;
}

.failed_status {
	color: #FF000A;
	background: url('../images/icons/status-failed.png') no-repeat center left;
}

.expired_status {
	color: #939393;
	background: url('../images/icons/status-expired.png') no-repeat center left;
}

.request_status {
	color: #FF9D00;
	background: url('../images/icons/status-request.png') no-repeat center left;
}

.paid_status {
	color: #86C125;
	background: url('../images/icons/status-paid.png') no-repeat center left;
	
}

.payment_status {
	color: #535352;
	/*background: url('../images/icons/status-default.png') no-repeat center left;*/
}


/* Message Box
----------------------------------------------- */
.success_box, .error_box, .info_box {
	/*margin: 10px 0px;*/
	padding: 7px 0 7px 0;
	background-repeat: no-repeat;
	background-position: 2px center;
	font-weight: normal;
	margin: 0 auto;
}

.success_box {
	color: #FFFFFF;
	border: 1px #90EA2A dotted;
	background-color: #90EA2A;
	background-image: url('../images/icons/icon_success.png');
	text-align: center;
}

.error_box {
	color: #FFFFFF;
	border: 1px #FC6F6F dotted;
	background-color: #FC6F6F;
	background-image: url('../images/icons/icon_error.png');
	text-align: left;
	padding-left: 35px;
}

.info_box {
	color: #999999;
	border: 1px #EDEDED dashed;
	background-color: #F7F7F7;
	background-image: url('../images/icons/icon_info.png');
	text-align: center;
	font-weight: normal;
}


/* Scroll Box
----------------------------------------------- */	
.scrollbox {
	border: 1px solid #CCCCCC;
	width: 335px;
	height: 112px;
	background: #FFFFFF;
	overflow-y: scroll;
}

.scrollbox div {
	padding: 4px 3px;
}

.scrollbox div input {
	margin: 0px;
	padding: 0px;
	margin-right: 3px;
}

.scrollbox div.even {
	background: #FFFFFF;
}

.scrollbox div.odd {
	background: #F5F5F5;
}


/* Pagination
----------------------------------------------- */
div.pagination {
	clear: both;
	font-size: 11px;
	margin: 10px 0;
	text-align: center;
	padding: 2px 0;
}

div.pagination a {
	padding: 2px 5px;
	text-decoration:none;
	margin: 1px;
	color: #8E8E8E;
}

div.pagination a:hover {
	padding: 2px 5px;
	color: #000;
}

div.pagination span.disabled {
	padding: 2px 5px;
	margin: 2px;
	color: #DDDDDD;
}

div.pagination span.curPage {
	background: #8CC5FA;
	border: 1px solid #8CC5FA;
	padding: 2px 5px;
	color: #FFFFFF;
	margin: 1px;
	border-radius: 5px;
}


/* Calendar
----------------------------------------------- */	
.calendricalDatePopup {
	background: white;
	border: solid 1px #999999;
	padding: 2px;
	text-align: center;
	width: 160px;
 }
.calendricalDatePopup table {
	border-collapse: collapse;
	width: 160px;
}
.calendricalDatePopup table .monthCell {
	padding: 2px 0;
}
.calendricalDatePopup table .monthCell a {
	display: block;
	float: left;
	line-height: 20px;
}
.calendricalDatePopup table .monthCell .prevMonth, .calendricalDatePopup table .monthCell .nextMonth {
	width: 24px;
}
.calendricalDatePopup table .monthCell .monthName {
	width: 110px;
}
.calendricalDatePopup table a {
	text-decoration: none;
}
.calendricalDatePopup table th {
	text-align: center;
}
.calendricalDatePopup table td {
	text-align: center;
	font-size: 11px;
	padding: 0;
}
.calendricalDatePopup table td a {
	display: block;
	color: black;
	padding: 2px 3px;
}
.calendricalDatePopup table td a:hover {
	background: #ccccff;
	border: none;
	padding: 2px 3px;
}
.calendricalDatePopup table td.today a {
	background: #eeeebb;
}
.calendricalDatePopup table td.selected a {
	background: #ccccff;
}
.calendricalDatePopup table td.today_selected a {
	background: #eeeebb;
	border: solid 1px #dddd66;
	padding: 1px 2px;
}
.calendricalDatePopup table td.nonMonth a {
	color: #999999;
}
.calendricalTimePopup {
	background: white;
	border: solid 1px #999999;
	width: 110px;
	height: 130px;
	overflow: auto;
}
.calendricalTimePopup ul {
	margin: 0;
	padding: 0;
}
.calendricalTimePopup ul li {
	list-style: none;
	margin: 0;
}
.calendricalTimePopup ul li a, .calendricalTimePopup ul li a:visited {
	text-indent: 10px;
	padding: 4px;
	display: block;
	color: black;
	text-decoration: none;
}
.calendricalTimePopup ul li a:hover, .calendricalTimePopup ul li.selected a {
	background: #ccccff;
}
.calendricalEndTimePopup {
	width: 160px;
}

.date {
	color: #3D3D3D;
	font-size: 10px;
	font-weight: normal;
	background: url('../images/icons/date.png') no-repeat center left;
	padding: 2px 0 2px 18px;
}

.user {
	color: #777777;
	font-size: 11px;
	font-weight: normal;
	background: url('../images/icons/user.png') no-repeat center left;
	padding: 4px 0 2px 20px;
}

.amount {
	color: #FFFFFF;
	background: #84D304;
	padding: 3px 8px;
}

.count {
	font-size: 11px;
	padding: 3px 6px;
	color: #FFF;
}

.count a {
	color: #FFF;
	text-decoration: none;
}


/* Rating
----------------------------------------------- */
.rating {
	display: inline-block;
	position: relative;
	width: 50px;
	height: 10px;
}
.rating .cover {
	position: absolute;
	background: transparent url('../images/rating_stars.png') top left no-repeat;
	top: 0px;
	left: 0px;
	width: 50px;
	height: 10px;
	z-index: 101;
}
.rating .progress {
	position: absolute;
	background: transparent url('../images/rating_stars_full.png') top left no-repeat;
	top: 0px;
	left: 0px;
	height: 10px;
	z-index: 102;
}

.subscribers {
	position: absolute;
	right: 0;
	text-align: left;
	padding-top: 10px;
	padding-left: 37px;
	margin-right: 70px;
	background: url('../images/icons/subscribers.png') no-repeat center left;
}

/* TABS
----------------------------------------------- */	
#tabs_wrapper {
	width: 420px;
}
#tabs_container {
	margin-top: 15px;
	border-bottom: 1px solid #EEE;
}
#tabs {
	list-style: none;
	padding: 5px 0 4px 0;
	margin: 0 0 0 10px;
	font-size: 11px;
}
#tabs li {
	display: inline;
}
#tabs li a {
	color: #777;
	border: 1px solid #EEE;
	padding: 5px 10px;
	text-decoration: none;
	background-color: #F7F7F7;
	border-bottom: none;
	outline: none;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}
#tabs li a:hover {
	color: #FFF;
	background-color: #8ADFEA;
	padding: 5px 10px;
	border-color: #8ADFEA;
}
#tabs li.active a {
	color: #000;
	border-bottom: 1px solid #FFF;
	background-color: #FFF;
	padding: 5px 10px 6px 10px;
	border-bottom: none;
	font-weight: bold;
}
#tabs li.active a:hover {
	color: #FFF:
	background-color: #9EEF07;
	border: 1px solid #EEE;
	padding: 5px 10px 6px 10px;
	border-bottom: none;
}
#tabs_content_container {
	padding: 5px;
	width: 750px;
	overflow: hidden;
}
.tab_content {
	display: none;
	margin-top: 5px;
	background: #F9F9F9;
	padding: 10px;
	border-radius: 0 0 10px 10px;
}
