/*---------------------------------------
			CashbackEngine
	http://www.cashbackengine.net
----------------------------------------*/

body {
	background: #FFFFFF url('../images/lbg.png') repeat top center;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	margin: 0 auto;
	padding: 0;
	font-size: 12px;
	color: #000000;
}

a {
	color: #369DDB;
	text-decoration: none;
}

a:hover {
	color: #96E706;
	text-decoration: none;
}

h1 {
	font-size: 15px;
	color: #000000;
	padding: 0px 0px 0px 6px;
	margin-top: 14;
}

h2 {
	font-size: 13px;
	color: #000000;
	border-bottom: 2px solid #C1DDF7;
	padding: 0px 0px 0px 2px;
	margin-top: 0;
	margin-bottom: 14px;
}

.login_box {
	padding: 15px 0;
	margin-top: 5px;
	border: 1px dotted #ccc;
	box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
}

.submit {
	margin: 3px 3px 3px 0;
	padding: 5px 10px 5px 10px;
	border: 1px solid #64C3EF;
	background: #64C3EF;
	color: #FFFFFF;
	font-size: 12px;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	overflow: visible;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.submit:hover {
	background: #84DB06;
	border: 1px solid #84DB06;
}

.submit:focus {
	outline: 0;
}

input.textbox, select.textbox2, .textbox2, textarea.textbox2, select.field { 
	background-color: #FFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 0;
	padding: 5px 3px;
	border: 1px solid #D3D3D3;
	border-radius: 3px;
}

input:focus {
	border: 1px solid #E2E2E2;
}

textarea {
	overflow: auto;
}

.footer {
	color: #444444;
}